/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
}

.body {
  overflow: hidden;
}


/*
 *************************************************************************************************************
 ********************************************************   Bootstrap Override   *****************************
 *************************************************************************************************************
*/
.navbar-default .navbar-nav>li>a {
    color: white !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #2779A7 !important;
}


.navbar-default {
    background-color: #2779A7 !important;
}

navbar-default .notifications {
    position: relative;
}

    .navbar-default .notifications .badge{
        position: absolute;
        top: 5px;
        right: -4px;
        background-color: red;
    }

.navposition {
    left: 200px !important;
}

textarea {
  resize: none;
  border-style: dashed;
}

/*
 *************************************************************************************************************
 ********************************************************   Custom    ****************************************
 *************************************************************************************************************
*/

/*
  Serach input style:
  Resource: http://bootsnipp.com/snippets/featured/stylish-search-box
*/
#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
        width: 100%;
    }

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#2779A7;
    }

    .search-query:focus + button {
        z-index: 3;
    }


.copmponentMargin {
    margin-top: 80px !important;
}

/*
  Post Styles
*/
.postAdd {
  height: 250px;
  position: relative;
  margin-bottom: 30px;
}
  .postAdd>input {
    position: absolute;
    top: 40%;
    width: 100%;
    left: 0;
    height: 100px;
  }

  .postTextArea {
    position: absolute;
    width: 100%;
    top:90px;
  }

  .postButtons {
    background-color: black !important;
  }
    .postButtons>button {
      width: 110px;
      height: 40px;
    }

      .postCreationAddBtn {
        float: left;
      }

      /*
      File Input
      **/
      .fileUpload {
        float: right !important;
        width: 110px !important;
        height: 40px !important;
      }

      .fileUpload>label{
        width: 110px !important;
        height: 40px !important;
      }


.postProfilePic {
  width: 60px;
}

.postListImg {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.quote {
  border-radius: 10px;
  max-width: 480px;
  max-height:300px;
  word-break: break-all;
  position: absolute;
  top: 25px;
  left:320px;
  overflow: scroll !important;
  padding: 10px;
  background-color: whitesmoke;
}

::-webkit-scrollbar {
  display: none;
}

.jumbotron {
  background-color: whitesmoke !important;
  height: 300px;
  overflow: auto;
  border-radius: 0;
  position: relative;
  width: 820px;
  margin-top: 30px;
  left: 30px;
}
